<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://m.game.weibo.cn/Public/default/apple/sng.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://m.game.weibo.cn/platform/Public/default/image/logo.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://m.game.weibo.cn/platform/Public/default/image/logo.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.sina.sng</string>
				<key>bundle-version</key>
				<string>2.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>UnionSDKDemo</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
